<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ServiceApp</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="../style.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well well-sm">
					<form class="form-horizontal" method="post">
						<fieldset>
							<legend class="text-center header">Registro de Usuarios</legend>
	
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
								<div class="col-md-8">
									<input id="nombres" name="nombres" type="text" placeholder="Ingrese nombres" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
								<div class="col-md-8">
									<input id="apellidos" name="apellidos" type="text" placeholder="Ingrese Apellidos" class="form-control">
								</div>
							</div>
	
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-envelope bigicon"></i></span>
								<div class="col-md-8">
									<input id="email" name="email" type="text" placeholder="Ingrese email" class="form-control">
								</div>
							</div>
	
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-phone bigicon"></i></span>
								<div class="col-md-8">
									<input id="telefono" name="telefono" type="text" placeholder="Ingrese teléfono" class="form-control">
								</div>
							</div>
	
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-log-in bigicon"></i></span>
								<div class="col-md-8">
									<input id="usuario" name="usuario" type="text" placeholder="Ingrese usuario" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-lock bigicon"></i></span>
								<div class="col-md-8">
									<input id="password" name="password" type="password" placeholder="Ingrese password" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-wrench bigicon"></i></span>
								<div class="col-md-8">
									<select class="form-control">
										<option value="B">Buscar servicio</option>
										<option value="P">Publicar servicio</option>
								    </select>		
								</div>
							</div>
	
							<div class="form-group">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-primary btn-lg">Registrar</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>